.dropdown {
    margin: 20px;
    background-color: white;
    color: black;
    outline-color: #fff;
}
.bg-light {
    background-color: white;
}

#dropdown-basic {
    background-color: #fff;
    font-size: 1.4rem;
}
/* #dropdown-basic a {
    text-decoration: none;
    color: #000;
}

#dropdown-basic a:hover {
    text-decoration: none;
    color: #000;
} */

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-toggle:after {
    border: 0;
}
