.dropdown {
    margin: 20px;
    background-color: white;
    color: black;
    outline-color: #fff;
}
.bg-light {
    background-color: white;
}

#dropdown-basic {
    background-color: #fff;
}
/* #dropdown-basic a {
    text-decoration: none;
    color: #000;
}

#dropdown-basic a:hover {
    text-decoration: none;
    color: #000;
} */
