li a:hover {
    color: #e85205;
    text-decoration: none;
}

#price-preview {
    width: fit-content;
    margin: auto;
}

#price-preview.product-price {
    font-size: 1.3rem;
    display: inline-flex;
    /* margin-left: -32px; */
}
.product-title {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    display: inline;
}
.product-sale {
    font-size: 1rem;
}
.product-price-content {
    margin-right: 1rem;
}

.product-block {
    display: inline-block;
    max-width: 100%;
    margin-right: 40px;
    width: 250px;
    text-align: center;
}

.product-block:hover {
    box-shadow: 3px 3px 16px #d8d6d6;
}
