li a:hover {
    color: #e85205;
    text-decoration: none;
}

#price-preview {
    width: fit-content;
    margin: auto;
}

#price-preview.product-price {
    font-size: 1.3rem;
    display: inline-flex;
    margin-left: -32px;
}
.product-title {
    font-size: 1.4rem;
    font-weight: 400;
}
.product-sale {
    font-size: 1rem;
}
.product-price-content {
    margin-right: 1rem;
}
