.header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}
.header-navbar {
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.header-logo {
    color: inherit;
    text-decoration: inherit;
    font-family: RobotoThin;
    font-size: 100px;
    justify-content: center;
    align-items: center;
}

.header-icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 100px;
    color: black;
    /* font-size: 1.5rem; */
}

.header-line {
    border-bottom: 0px solid rgb(240, 239, 239);
    background-color: rgb(240, 239, 239);
    margin-top: -10px;
}
a.nav-link::before {
    display: none;
}

.account-icon {
    margin-right: -1rem;
}
/* .header-cart-list {
    position: absolute;
    top: 100%;
    right: -34px;
    background-color: #fff;
    width: 450px;
    border-radius: 2px;
    display: none;
    box-shadow: 0 2px 10px #ccc;
    z-index: 1;
    overflow: scroll;
}

.header-cart {
    width: 50px;
    text-align: center;
    position: relative;
    display: block;
}

.header-cart:hover .header-cart-list {
    display: block;
}
.header-cart-list::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 42px;
    top: -8px;
    background-color: #fff;
    box-shadow: -2px -2px 5px #ccc;
    transform: rotate(45deg);
} */
