.products {
    display: flex;
    max-width: 100%;
    width: 100%;
    margin-left: 5%;
    flex-flow: wrap;
    justify-content: flex-start;
}

.products li {
    display: inline-block;
}

img {
    /* max-width: 100%;
    margin-right: 40px; */
    width: 220px;
    height: 220px;
    object-fit: cover;
}
select.sorting-options {
    float: right;
    font-size: 16px;
    width: 10%;
    display: block;
    height: 30px;
    padding: 0 20px 0 0;
    border-color: transparent;
    border-bottom: 1px solid #000;
    background-color: #fff;
    outline: 0;
}
